<div class="flex flex-col w-full pt-20">
  <div class="lg:m-auto lg:px-96">
    <!--sign in section-->
    <div class="flex flex-col w-full relative">
      <a routerLink="/" class="font-[500] text-blue-500 text-center">Home</a>
      <div class="flex flex-col w-full bg-white dark:bg-gray-800 lg:rounded-3xl lg:p-8 p-4 mt-8 border">
        <div class="flex flex-col lg:w-[464px] w-full">
          <div class="text-[20px] font-bold text-center tracking-[-2%] mt-2">Sign In</div>
          @if(isLoading){
            <div class="mt-2">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          }
          @if(errorMsg){
            <div class="text-red-600 font-[500] my-2 text-center">{{errorMsg}}</div>
          }
          <form class="mt-8" (ngSubmit)="submitForm()" [formGroup]="loginForm" novalidate>
            <div class="mb-3">
              <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Email</label>
              <input type="email" id="email" formControlName="email" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"  />
              @if(hasError('email', 'required')){
                <small class="text-red-500 text-xs">
                  Please enter your email
                </small>
              }
            </div>
            <div class="mb-4">
              <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" id="password" formControlName="password" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
              @if(hasError('password', 'required')){
                <small class="text-red-500 text-xs">
                  Please enter your password
                </small>
              }
            </div>
            <!-- Button -->
            <div>
              <button class="rounded-md bg-blue-600 px-3.5 py-2.5 text-white hover:bg-blue-500" type="submit" [disabled]="isLoading">
                Sign In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--sign up section-->
    <div class="flex flex-row justify-center items-center">
      <div class="flex bg-white dark:bg-gray-800 lg:rounded-3xl py-4 px-8">
        <div class="text-16 font-[500] text-gray-500">No an account yet?<a routerLink="/register" class="ml-2 font-[700] capitalize">Signup</a></div>
      </div>
    </div>
  </div>
</div>
